.messageID {

    width: 200px;
    height: 210px;
    overflow: hidden;
    font-size: 14px;
    margin-top:0px;
    padding-top:0px;
    display:block;
    padding-left:100px;
    width:400px;
    float:left;
    word-wrap: break-word;
}

.messageID:hover {
    height: auto;
    cursor: pointer;
    max-height:210px;
    overflow-y:auto;
    border: 1px solid black;
}

 ::-webkit-scrollbar-button {
     background-image:url('');
     background-repeat:no-repeat;
     width:5px;
     height:0px
 }
::-webkit-scrollbar-track {
    background-color:white;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:yellow;
}
::-webkit-scrollbar-thumb:hover{
    background-color:black;
}
::-webkit-resizer{
    background-repeat:no-repeat;
    width:4px;
    height:0px
}
::-webkit-scrollbar{
    width: 4px;
}
.mainBlock {
    border-style: groove;
    width: 900px;
    height: 350px;
    background: black;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.agaxEdit{
    margin:5px;
    border-radius: 10px 10px 10px 10px;
    float:right;
    background-size: cover;
    width: 30px;
    height:30px;
}
.agaxClose{
    margin:5px;
    border-radius: 10px 10px 10px 10px;
    float:right;
    background-size: cover;
    width: 30px;
    height:30px;
}